h2.mat-mdc-dialog-title {
  font-weight: 700;

  & .mat-icon {
    margin-right: .75rem;
  }
}

.mat-mdc-dialog-content {
  max-width: 80ch;

  & strong {
    font-weight: 600;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    align-items: center;
  }
}

.cta-btn {
  background-color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-on-primary);
  font-size: 18px;
  padding: 1.5rem;
  text-align: center;
  width: fit-content;

  @media screen and (max-width: 600px) {
    width: 100%;;
  }
}
