<footer class="footer">
  <div class="container">
    <h3 id="contatti">Contatti</h3>
    <div class="social-group">
      <h4>Lecce Digital Community</h4>
      <ul class="social-links">
        <li>
          <a href="https://www.facebook.com/groups/leccedigitalcommunity/" target="_blank" rel="noopener noreferrer">
            <img src="/images/1_Facebook_colored_svg_copy-1024.webp" alt="Facebook"> Facebook
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/lecce_digital_community/" target="_blank" rel="noopener noreferrer">
            <img src="/images/1_Instagram_colored_svg_1-256.webp" alt="Instagram"> Instagram
          </a>
        </li>
      </ul>
    </div>
    <div class="social-group">
      <h4>GDG Lecce</h4>
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/gdg_lecce" target="_blank" rel="noopener noreferrer">
            <img src="/images/internet.png" alt="Web Site"> Web Site
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/gdg-lecce/posts/?feedView=all" target="_blank" rel="noopener noreferrer">
            <img src="/images/1_Linkedin_unofficial_colored_svg-1024.webp" alt="LinkedIn"> LinkedIn
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/gdg_lecce" target="_blank" rel="noopener noreferrer">
            <img src="/images/1_Instagram_colored_svg_1-256.webp" alt="Instagram"> Instagram
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
