.spacer {
  flex: 1 1 auto;
}

.mat-toolbar .logo,
.mat-toolbar a,
.mat-toolbar button {
  color: #fff;
}

.mat-toolbar a,
.mat-toolbar button {
  font-size: 18px;
}

.mat-toolbar .logo {
  font-size: 30px;
  cursor: pointer;
  font-weight: 700;
}

.mat-toolbar.scrolled .logo,
.mat-toolbar.scrolled a,
.mat-toolbar.scrolled button {
  color: black;
}

.mat-toolbar {
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.mat-toolbar.transparent {
  background-color: rgba(255, 255, 255, 0); /* trasparente */
  box-shadow: none;
}

.mat-toolbar.scrolled {
  background-color: white; /* o altro colore */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ombra leggera */
}

@media (max-width: 599px) {
  .mat-toolbar .logo {
    font-size: 23px;
  }
}

/* glitch effect */

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.glitch {
  position: relative;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2.3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  /* animation removed */
  color: #0ff;
  z-index: -1;
  transform: translate(-2px, 2px); /* posizione fissa */
}

.glitch:after {
  /* animation removed */
  color: #ff08c1;
  z-index: -2;
  transform: translate(2px, -2px); /* posizione fissa */
}

@keyframes glitch-color {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  to {
    transform: translate(0);
  }
}
