@use '@angular/material' as mat;
@use './_theme-colors' as my-theme;


:root {
  --mat-divider-color: var(--primary);
}

// Define theme config
html {
  color-scheme: light;
  @include mat.theme((color: (theme-type: light,
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0));
}
