
:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.horizontal {
  flex-direction: row;
  align-items: center;
  justify-content: center;

    .nav-list {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;

      .mat-mdc-list-item {
        width: fit-content;
        cursor: pointer;
      }
    }
  }

  .nav-list {
    > a {
      > span span {
        font-weight: 500;
      }
    }
  }

  .cta-btn {
    background-color: #ff08c1 !important;
    text-transform: uppercase;
    font-weight: 700;
  }
}

